
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.main {
	display: grid;
	grid-template-areas:
		"header"
		"section1"
		"section2"
		"footer";
}
header {
	grid-area: header;
	display: grid;
	grid-template-columns : 1fr 2fr;
	grid-auto-rows: minmax(7vw, auto);
}
.logo{
	grid-column: 1;
  	grid-row: 1;
  	padding: 5% 0 0 60%;
}
.logo img{
	max-width: 100%;
	margin: auto;
}
header nav{
	grid-column: 2;
  	grid-row: 1;
	margin: 4% 0 0 0;
	font-size: 1.3vw;
}
.nav-header a{
	color: #333;
    text-decoration: none;
    margin: 0 0 0 3%;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-header a:hover{
	color:#39c2d7; 
}
.section1{
	grid-area: section1;
	background-image: url(../img/banner.jpg) ;
  	background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    display: grid;
	grid-auto-rows: minmax(30vw, auto);
}
.section1 p{
	color: #fff;
	
	font-size: 3.2vw;
	padding: 4% 55% 0 15%;
}
.section2{
	grid-area: section2;
	display: grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-auto-rows: minmax(20vw, auto);
	background-color: #fff;
	grid-column-gap: 2vw;
	grid-row-gap: 2vw;
	padding: 1.5% 12% 1.5% 12%;
}
.img{
	background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 11vw;
    margin-bottom: 4%;
}
.img1{
	background-image: url(../img/news/01.jpg) ;
}
.img2{
	background-image: url(../img/news/02.jpg) ;
}
.img3{
	background-image: url(../img/news/03.jpg) ;
}
.img4{
	background-image: url(../img/news/04.jpg) ;
}
.img5{
	background-image: url(../img/news/05.jpg) ;
}
.img6{
	background-image: url(../img/news/06.jpg) ;
}
.section2 div{
	background-color: #d8d2dd;
	color: #333;
	justify-content: center;
	padding: 5% 5% 0 5%;
	
}
.section2 a{
	text-decoration: none;
	color: #333;
}
.section2 h3{
	margin-bottom: 2%;
	font-size: 1.3vw;
}
.section2 p{
	font-size: 1.15vw;
}
.section2 div:hover{
	background-color: #39c2d7;
}
footer {
	grid-area: footer;
	display: grid;
	grid-template-columns : 40% 60% ;
	grid-auto-rows: minmax(4vw, auto);
	background-color: #39c2d7;
	color:#fff;

}
.nav-footer{
	grid-column:1;
	grid-row:1;
	padding: 4% 5% 5% 0;
}
.nav-footer a{
	color: #fff;
	margin-right: 4%;
	font-size: 1.15vw;
	float: right;
}
.nav-footer a:hover{
	text-decoration: none; 
}
.div-footer{
	grid-column:2;
	grid-row:1;
	padding: 2.7% 0 5% 0;
	font-size: 1.1vw;
}
@media only screen and (min-width: 576px) and (max-width: 900px){
	header {
		grid-area: header;
		display: grid;
		grid-template-columns:100%;
		margin: 0;
	}
	.logo{
		grid-column: 1;
	  	grid-row: 1;
	  	padding: 2% 0 0 40%;
	}
	.logo img{
		max-width: 100%;
		margin: auto;
	}
	header nav{
		grid-column: 1;
	  	grid-row: 2;
		font-size: 1.4vw;
		padding: 0 0 2% 30%;
	}
	.nav-header a{
		color: #333;
	    text-decoration: none;
	    margin: 0 0 0 3%;
	    font-weight: bold;
	    text-transform: uppercase;
	}
	.section1{
		grid-area: section1;
		background-image: url(../img/banner.jpg) ;
	  	background-position: center;
	    background-repeat:no-repeat;
	    background-size:cover;
	    display: grid;
		grid-auto-rows: minmax(50vw, auto);
	}
	.section1 p{
		color: #fff;
		text-align: center;
		font-size: 2.4vw;
		padding: 5% 25% 0 26%;
	}
	.section2{
		grid-area: section2;
		display: grid;
		grid-template-columns : 1fr 1fr;
		grid-auto-rows: minmax(25vw, auto);
		background-color: #fff;
		grid-column-gap: 2vw;
		grid-row-gap: 2vw;
		padding: 2% 2% 2% 2%;
		
	}
	.img{
		background-position: center;
	    background-repeat:no-repeat;
	    background-size:cover;
	    height: 17vw;
	    margin: 0 10% 4% 10%;
	}
	.section2 div{
		background-color: #d8d2dd;
		color: #333;
		justify-content: center;
		padding: 2% 5% 8% 2%;
		
	}
	footer {
		grid-area: footer;
		display: grid;
		grid-template-columns:100%;
		background-color: #39c2d7;
		color:#fff;

	}
	.nav-footer{
		grid-column:1;
		grid-row:1;
		padding: 1% 0 0 35%;
	}
	.nav-footer a{
		color: #fff;
		margin-right: 2.5%;
		font-size: 1.5vw;
		float: left;
		font-weight: bold;
	
	}
	.div-footer{
		grid-column:1;
		grid-row:2;
		padding: 1% 0 0 35%;
		font-size: 1.5vw;
		font-weight: bold;
	}
	.section2 h3{
		margin-bottom: 2%;
		font-size: 1.6vw;
	}
	.section2 p{
		font-size: 1.45vw;
	}

}
@media only screen and (min-width: 320px) and (max-width: 575px){
	header {
		grid-template-columns:100%;
	}
	.logo{
		grid-column: 1;
	  	grid-row: 1;
	  	padding: 2% 0 0 35%;
	}
	header nav{
		grid-column: 1;
	  	grid-row: 2;
		font-size: 4vw;
		display: grid;
		background-color: #eeedef;
		margin :0 ;

	}
	.nav-header a{
		color: #333;
	    text-decoration: none;
	    padding: 2.5% 0 2.5% 5%;
	    font-weight: bold;
	    text-transform: uppercase;
	    border-bottom: 0.2vw solid #a4a4a5;
	    border-top: 0.2vw solid #a4a4a5;
	    margin: 0;

	}
	.nav-header a:hover{
		color:#333; 
	}
	.section1{
		grid-auto-rows: minmax(60vw, auto);
	}
	.section1 p{
		color: #fff;
		text-align: left;
		font-size: 4.4vw;
		font-weight: bold;
		padding: 2% 2% 2% 2%;
		margin: 45% 5% 5% 5%;
		background-color: #39c2d7; 
	}
	.section2{
		grid-area: section2;
		display: grid;
		grid-template-columns : 100%;
		grid-auto-rows: minmax(25vw, auto);
		background-color: #fff;
		grid-column-gap: 2vw;
		grid-row-gap: 2vw;
		padding: 3% 3% 3% 3%;
		
	}
	.img{
		background-position: center;
	    background-repeat:no-repeat;
	    background-size:cover;
	    height: 40vw;
	    margin: 0 6% 5% 6%;
	}
	.section2 div{
		background-color: #d8d2dd;
		color: #333;
		justify-content: center;
		padding: 2% 5% 8% 2%;
		
	}
	.section2 h3{
		margin-bottom: 2%;
		font-size: 4vw;
	}
	.section2 p{
		font-size: 3.5vw;
	}
	.section2 div:hover{
		background-color: #d8d2dd;
	}
	footer {
		grid-area: footer;
		display: grid;
		grid-template-columns:100%;
		background-color: #39c2d7;
		color:#fff;

	}
	.nav-footer{
		grid-column:1;
		grid-row:1;
		padding: 3% 0 3% 5%;
		display: grid;
		text-align: center;
	}
	.nav-footer a{
		color: #fff;
		margin-right: 2.5%;
		font-size: 3vw;
		float: left;
		font-weight: bold;
		padding: 1% 0 0 0;

	
	}
	.div-footer{
		grid-column:1;
		grid-row:2;
		padding: 1% 0 4% 17%;
		font-size: 3vw;
		font-weight: bold;
	}
	.nav-footer a:hover{
		text-decoration: underline; 
	}

}