body {
    padding: 20px;
    font: normal 14px/1.2 Arial, sans-serif;
}

.hidden {
    display: none;
}

.wrapper {
    overflow: hidden;
}


/**************/
/* Names list */
.names {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    float: left;
    margin-right: 2px;
}
.names li {
    background: #00BCD4;
    margin: 0 0 1px 0;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}

/***************/
/* Scores list */
.scores {
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 30px;
}
.scores li {
    margin: 0 0 1px 0;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    display: block;
    background: #727272;
    text-align: center;
}
.scores span {
    pointer-events: none;
}
.score-input {
    width: 35px;
    height: 9px;
    text-align: center;
}

/***********/
/* Profile */
.profile {
    float: left;
    width: 200px;
    background: #448AFF;
    padding: 0 10px;
    text-align: center;
}
.profile img {
    display: block;
    margin: 10px auto 10px;
}
.profile h3 {
    margin: 0 0 10px;
}
/* Sort controls */


.sort-controls {
    margin: 0;
    padding: 0;
	font-size: 0;
	display: grid;
	grid-template-columns : 300px 82px ;
}
.sort-controls li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: relative;
}
#name{
	display: grid;
	grid-template-columns : 2fr 1fr;
	border-right: none;
    padding: 20px;
}
#name span{
	grid-column: 1;
  	grid-row: 1;
}
#name .arrows{
	grid-column: 2;
  	grid-row: 1;
  	display: grid;
  	margin-left:70px;
}
#score{
	display: grid;
	grid-template-columns : 50px 22px;
	padding: 20px 0 20px 10px;
}
#score span{
	grid-column: 1;
  	grid-row: 1;
}
#score .arrows{
	grid-column: 2;
  	grid-row: 1;
  	display: grid;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #888;
	cursor: pointer;
	grid-column: 1;
  	grid-row: 1;
  	margin-bottom: 2px;

}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #888;
    cursor: pointer;
    grid-column: 1;
  	grid-row: 2;
  	margin-top: 2px;
}



