.form {
	border: #ccc solid 1px;
	background: #f5e6cf;
	padding: 15px;
}
.form ul{
    margin:0;
    padding: 10px 0 0;
    width:100%;
    overflow:hidden;
    list-style: none;
    }
    .form ul li {
        margin:0 0 15px 0;
        padding:0 0 0 0;
        background:none;
        clear:left;
        float: left;
        width:100%;
        }
    .form .row-label { 
        width:100px;
        float:left;
        font-weight:bold;
        padding:3px 0 0 0;
    }
    .descr {
        color:#666; 
        display:block;
        margin:1px 0 0 100px;
        font-style: italic;
    }

    input[type=text], 
    input[type=email]{
        display:block;
        margin: 0 0 0 100px;
        width:193px;
        border: #A7C5E9 solid 1px;
        border-color: #B5B5B5 #CCCCCC #E9E9E9;
        border-radius: 3px;
        background: #FAFAFA;
        padding: 5px 10px;
        outline:none;
        font: normal 12px Arial, Helvetica, sans-serif;
        }
        input[type=text]:focus, 
        input[type=email]:focus {
            border-color:#518BD2 #74A3DC #B7CFEC ;
            outline:none;
            }

    input[type="submit"] {
        padding: 5px 10px;
        margin-left: 100px;
        font-size: 15px;
        color: #fff;
        text-shadow: 0 1px rgba(255,255,255,0.5);
        background: #014F6F;
        border: #A7C5E9 solid 1px;
        border-color:  #E9E9E9 #CCCCCC #B5B5B5 ;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        position: relative;
        }
        input[type="submit"]:hover {
            background: #002c78;
        }
        input[type="submit"]:active {
            top: 1px;
        }