$contentBackground: #3b3b3b;
$contentcolor: #fccd10;
$bodyBackground : rgba(198, 238, 252, 0.53);
$deffoltmargin : 20px 20px 18px 20px;
$pColor : #fff;
//brief
$briefWidth : 880px;
$briefPadding : 20px 20px 20px 20px;
$briefMargin : 5px 20px 30px 20px;
$briefFloat : none;
$briefColor : #fff178;
$aColor :  #fccd10;
//
$tablePadding : 10px 0 10px 15px;
$thColor : #94a34e;
$tdColor : #94a34e;
$tdBackground : #677d01;
//
$last-formPColor : #fccd10;