$contentBackground: #fff;
$contentcolor: #893c00;
$bodyBackground : #dcbb9a;
$deffoltmargin : 20px 20px 18px 20px;
$pColor : #000;
//brief
$briefWidth : 350px;
$briefPadding : 20px 20px 20px 20px;
$briefMargin : 5px 20px 5px 20px;
$briefFloat : left;
$briefColor : #fadcba;
$aColor : #3d70a1;
//
$tablePadding : 10px 0 10px 15px;
$thColor : #e0e0e0;
$tdBackground : #fff;
$tdColor : #e0e0e0;
//
$last-formPColor : #808080;
